{% extends 'layout.html' %}

{% block content %}
    <form action="addblog" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">ชื่อบทความ</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="description">รายละเอียด</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">เพิ่มบทความ</button>
        </div>
    </form>

    <br><hr><br>
    
   
{% endblock %}