{% extends 'layout.html' %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ลำดับที่</th>
        <th scope="col">ชื่อเรื่อง</th>
        <th scope="col">คำอธิบาย</th>        
      </tr>
    </thead>
    <tbody>
      {% for data in datas %}
      <tr>
        <th scope="row">{{data.id}}</th>
        <td>{{data.name}}</td>
        <td>{{data.desc}}</td>                        
      </tr>  
      {% endfor %}    
    </tbody>
  </table>
{% endblock %}
